:root {
  /* Colors */
  --background-color: #fffdf3;
  --text-color: #92786b;
  --score--text-color: #715e55;
  --score--background-color: #f7f1dd;
  --border-color: #ded9d7;
  --game-background-color: #a89483;
  --gameboard-empty-color: #c8b79d;
  --gameboard-active-color: #f7ebdd;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-x-large: 2rem;

  /* Font Size */
  --font-size-base: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;

  /* Border */
  --border-radius: 12px;
}
